* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

nav {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.confirmation-content {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.confirmation-content h1 {
    color: #6200ea;
    margin-bottom: 20px;
}

.confirmation-content p {
    font-size: 18px;
    color: #333;
}


/* Footer styling */
footer {
    background-color: #333;
    position: relative;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 25%;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: #fcfbfc;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    .confirmation-content {
        margin: 20px;
        padding: 15px;
    }
}
