body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.order-cart-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.order-cart-container h2 {
    text-align: center;
    color: #6200ea;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3700b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #6200ea;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: #fcfbfc;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .order-cart-container {
        margin: 20px;
        padding: 15px;
    }

    nav {
        flex-direction: column;
        padding: 10px;
    }

    nav a {
        margin: 10px 0;
    }
}
