body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4b0082;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav img {
    vertical-align: middle;
}

.header {
    background-color: #4b0082;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

article {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

article:last-child {
    border-bottom: none;
}

h4 {
    margin: 10px 0;
    color: #333;
}

.total-price {
    font-weight: bold;
    color: #000;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: #fcfbfc;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 10px;
        box-shadow: none;
        border-radius: 0;
    }

    h4 {
        font-size: 16px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}
