<!DOCTYPE html>
<html>
  <body>

    <div
      class="chat__item__container"
      id="id_chat_item_container"
      style="font-size: 20px"
    >
      {% for msg in messages %}
      <p>{{msg.sender}}: {{msg.message}} </p>
      {% endfor %}
      <input type="text" id="id_message_send_input" name="message" />
      <button type="submit" id="id_message_send_button">Send Message</button>
      <br><br>
    </div>
    <script>
      const roomName = "some_room_name"; // Make sure to match the room name
      const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomName + "/");

      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };

      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };

      document.querySelector("#id_message_send_input").focus();

      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };

      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector("#id_message_send_input").value;
        var csrfToken = '{{ csrf_token }}';

        // Send message via WebSocket
        chatSocket.send(JSON.stringify({ message: messageInput, username: "{{ request.user.username }}" }));

        // Send message via AJAX to save it in the database
        fetch("{% url 'chat:web-chat' pk=product.pk %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken
          },
          body: `message=${messageInput}`
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            console.log('Message saved successfully');
          }
        });

        // Clear the input field
        document.querySelector("#id_message_send_input").value = "";
      };

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.innerHTML = data.username + " : " + data.message;
        document.querySelector("#id_chat_item_container").appendChild(div);
      };
    </script>
  </body>
</html>
