{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'chat/chat_style.css' %}">
</head>
<body>
<nav>
    
    <a href="{% url 'product:home' %}">Home Page</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'registration:signout' %}">LogOut</a>
    {% else %}
        <a href="{% url 'registration:login' %}">LogIn</a>
    {% endif %}
    <a href="/admin/">Admin</a>
    {% if member %}
    <a href="{% url 'member:profile' request.user.username %}">Profile</a>
    {% else %}
    <a href="{% url 'member:register' %}">Complete Profile</a>
    {% endif %}
    <a href="{% url 'member:add_product_page' %}">Sell</a>
    <a href="{% url 'chat:sellor-chat' %}"><img src="/media/logos/chat_logo.png" alt="chat" width="32"></a>
</nav>
<div class="chat-container">
    <div class="chat-box" id="chat-box">
        {% for msg in messages %}
        {% if msg.sender == request.user %}
        <div class="chat-item sent">
            <p><strong>{{msg.sender}}</strong>: {{msg.message}}</p>
            <p><small>{{msg.conversation_time}}</small></p>
        </div>
        {% else %}
        <div class="chat-item received">
            <p><strong>{{msg.sender}}</strong>: {{msg.message}}</p>
            <p><small>{{msg.conversation_time}}</small></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="input-container">
        <input type="text" id="message-input" placeholder="Type your message here...">
        <button id="send-button">Send</button>
    </div>
</div>
<script>
    const roomName = "some_room_name";
    const chatSocket = new WebSocket("wss://" + window.location.host + "/ws/chat/" + roomName + "/");

    chatSocket.onopen = function (e) {
        console.log("The connection was set up successfully!");
    };

    chatSocket.onclose = function (e) {
        console.log("Something unexpected happened!");
    };

    document.querySelector("#message-input").focus();

    document.querySelector("#message-input").onkeyup = function (e) {
        if (e.keyCode == 13) {
            document.querySelector("#send-button").click();
        }
    };

    document.querySelector("#send-button").onclick = function (e) {
        var messageInput = document.querySelector("#message-input").value;
        var csrfToken = '{{ csrf_token }}';

        // Send message via WebSocket
        chatSocket.send(JSON.stringify({ message: messageInput, username: "{{ request.user.username }}" }));

        // Send message via AJAX to save it in the database
        fetch("{% url 'chat:receiver_chat' pk=msg.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken
            },
            body: `message=${messageInput}`
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 200) {
                console.log('Message saved successfully');
            } else {
                console.error('Message not saved:', data.message);
            }
        });

        // Clear the input field
        document.querySelector("#message-input").value = "";
    };

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.className = "chat-item " + (data.username == "{{ request.user.username }}" ? "sent" : "received");
        div.innerHTML = "<p><strong>" + data.username + "</strong>: " + data.message + "</p>";
        document.querySelector("#chat-box").appendChild(div);
    };
</script>
<footer>
    <p>&copy; 2024 Online Market Place. All rights reserved.</p>
    <p>Creator: Muhammad Arham Siddiqui</p>
    <p>arsidd78@gmail.com</p>
    <p>Github <a href="https://github.com/arsidd78">https://github.com/arsidd78</a></p>
    <p>LinkedIn: <a href="www.linkedin.com/in/arsidd78">www.linkedin.com/in/arsidd78</a></p>
</footer>
</body>
</html>
