{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/sellorChat_style.css' %}">
    <title>Chats</title>
</head>
<body>
    <div>
        {% for msg in messages %}
        <a  href="{% url 'chat:receiver_chat' msg.id   %}">
            <div class="chats" >
                <p>{{msg.sender}}</p>
                <p><small>{{msg.message}}</small></p>
            </div>
        </a>   
        {% endfor %}
    </div>
</body>
</html>