body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

nav {
  background-color: #6a0dad;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  color: #6a0dad;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #370061;
}

.signup-button {
  display: block;
  text-align: center;
  margin-top: 1em;
  color: #6a0dad;
  text-decoration: none;
}

.signup-button:hover {
  text-decoration: underline;
}

.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages li {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Footer styling */
footer {
  background-color: #333;
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 5%;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #fcfbfc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav a {
      display: block;
      margin: 10px 0;
  }

  .form-container {
      margin: 20px;
  }
}
