{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'product/confirmation_style.css' %}">
    <title>Order Confirmation</title>
</head>
<body>
    <nav>
        <a href="{% url 'product:home' %}">Home Page</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'registration:signout' %}">LogOut</a>
        {% else %}
            <a href="{% url 'registration:login' %}">LogIn</a>
        {% endif %}
        <a href="/admin/">Admin</a>
        {% if request.user.is_authenticated %}
        {% if member %}
        <a href="{% url 'member:profile' request.user.username %}">{% if new_sales_order %}<img src="/media/logos/mark_logo.png" alt="Dot" width="15"> {% endif %}Profile</a>
        {% else %}
        <a href="{% url 'member:register' %}"><img src="/media/logos/warning_logo.png" alt="warning">Complete Profile</a>
        {% endif %}
        {% endif %}
        <a href="{% url 'member:add_product_page' %}">Sell</a>
        <a href="{% url 'chat:sellor-chat' %}">{{unread_messages}}<img src="/media/logos/chat_logo.png" alt="chat" width="32"></a>
    </nav>

    <div class="main-content">
        <div class="receipt">
            <h2>Order Confirmation</h2>
            <div class="receipt-details">
                <p><strong>Product No:</strong> {{item.id}}</p>
                <p><strong>Product Name:</strong> {{purchase.product.product_name}}</p>
                <p><strong>Unit Price:</strong> ${{purchase.price}}</p>
                <p><strong>Quantity:</strong> {{purchase.quantity}}</p>
            </div>
            <button class="confirm-btn" onclick=location.href="{% url 'product:confirmation' purchase.id %}">Confirm</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Online Market Place. All rights reserved.</p>
        <p>Creator: Muhammad Arham Siddiqui</p>
        <p>arsidd78@gmail.com</p>
        <p>Github <a href="https://github.com/arsidd78">https://github.com/arsidd78</a></p>
        <p>LinkedIn: <a href="www.linkedin.com/in/arsidd78">www.linkedin.com/in/arsidd78</a></p>
    </footer>
</body>
</html>
