<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.product_name}}</title>
</head>
<body>
    <h1>{{product.product_name}}</h1>
    <img src="{{product.product_images.url}}" width="300" height="300" class="prouduct_image">
    {% if product.product_images2 %}
        <img src="{{product.product_images2.url}}" width="300" height="300" class="prouduct_image">
    {% endif %}
    {% if product.product_images3 %}
        <img src="{{product.product_images3.url}}" widht="300" height="300" class="prouduct_image">
    {% endif %}
    {% if product.product_images4 %}
        <img src="{{product.product_images4.url}}" widht="300" height="300" class="prouduct_image">
    {% endif %}
    {% if product.product_images5 %}
        <img src="{{product.product_images5.url}}" widht="300" height="300" class="prouduct_image">
    {% endif %}
    <h2 class="product_description">Description:</h2>
    <label>{{product.product_description}}</label>
    <h3>{{product.product_quantity}} items in stock</h3>
    <h2 class="sellor_info">Seller:</h2>
    <label>{{product.sellor_name}}</label>
    <h2 class="product_category">Category:</h2>
    <label>{{product.product_category}}</label>
    {% if product.company_name %}
    <h2>Company:</h2>
    <label>{{product.company_name}}</label>
    {% endif %}
    {% if product.product_website %}
    <h2 class="website">Website:</h2>
    <label><a href="{{product.product_website}}">{{product.product_website}}</a></label>
    {% endif %}
    <a href="{% url 'product:purchase_page' product.id %}"><button class="purchase_pd">Buy</button></a>
</body>
</html>