{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Market Place{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'product/index_style.css' %}">
</head>
<body>
    <header>
        <h1>Online Market Place</h1>
    </header>
    <nav>
        <a href="{% url 'product:home' %}">Home Page</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'registration:signout' %}">LogOut</a>
        {% else %}
            <a href="{% url 'registration:login' %}">LogIn</a>
        {% endif %}
        <a href="/admin/">Admin</a>
        {% if member %}
        <a href="{% url 'member:profile' request.user.username  %}">Profile</a>
        {% else %}
        <a href="{% url 'member:register' %}">Complete Profile</a>
        {% endif %}
        <a href="{% url 'member:add_product_page' %}">Sell</a>
    </nav>

    <div class="main-content">
        <aside class="aside_links">
            <section>
                <h3>Categories</h3>
                <a href="{% url 'product:categories_page' %}">All Categories</a>
            </section>
            <section>
                <h3>Products</h3>
                <a href="{% url 'product:recent_products' %}">Recent Products</a>
                <a href="{% url 'product:view_all' %}">View All Products</a>
            </section>
        </aside>

        <div class="userr_interested_items">
            {% for item in items %}
            <article>
                <img src="{{item.product_images.url}}" alt="Image">
                <label for="">{{item.product_name}}</label>
                <label for="">${{item.product_price}}</label>
                <label for=""> Stock :{{item.product_quantity}}</label>
            </article>
            {% endfor %}
        </div>
        <div class="article_product_list">
            {% for product in products %}
                <a href="{% url 'product:details' product.id %}" class="product_detailslink">
                    <article class="product_data">
                        <img src="{{ product.product_images.url }}" alt="{{ product.product_name }}" width="100" height="100" >
                        <br>
                        <label class="discounted_price">{{ product.product_name }}</label><br>
                        {% if product.product_discounted_price %}
                            <label>${{ product.product_price }} ${{ product.product_discounted_price }}</label><br>
                        {% else %}
                            <label class="price">${{ product.product_price }}</label><br>
                        {% endif %}
                    </article>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2024 Online Market Place. All rights reserved.</p>
    <p>Creator: Muhammad Arham Siddiqui</p>
    <p>arsidd78@gmail.com</p>
    <p>Github <a href="https://github.com/arsidd78">https://github.com/arsidd78</a></p>
    <p>LinkedIn: <a href="www.linkedin.com/in/arsidd78">www.linkedin.com/in/arsidd78</a> </p>
</footer>
</html>
