<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Market Place</title>
</head>
<body>
    <div>
    {% for message in messages %}
        {% if message.tag %}
        <h3>{{message}}</h3>
        {% endif %}
    {% endfor %}    
    </div>
    <div class="article_product_list">
        {% for product in products %}
        <a href="{% url 'product:details' product.id %}" class="product_detailslink">
        <article class="product_data">
            <img src="{{product.product_images.url}}" width="150" > <br>
            <label>{{product.product_name}}</label><br>
            <label>${{product.product_price}}</label><br>
        </article>
        </a>
        {% endfor %}
    </div>
</body>
</html>