{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Market Place</title>
    <link rel="stylesheet" href="{% static 'product/index_style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'product:home' %}">Home Page</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'registration:signout' %}">LogOut</a>
        {% else %}
            <a href="{% url 'registration:login' %}">LogIn</a>
        {% endif %}
        <a href="/admin/">Admin</a>
        {% if request.user.is_authenticated %}
        <a href="">Profile</a>
        {% endif %}
    </nav>
    <div class="aside_links">
        <aside>
            <a href="{% url 'product:categories_page' %}">Categories</a>
            <a href="">Recent Products</a>
            <a href="">View All</a>
        </aside>
    </div>
    <div>
    {% for message in messages %}
        {% if message.tag %}
        <h3>{{message}}</h3>
        {% endif %}
    {% endfor %}    
    </div>
    <div class="article_product_list">
        {% for product in products %}
            <a href="{% url 'product:details' product.id %}" class="product_detailslink">
            <article class="product_data">
                <img src="{{product.product_images.url}}" width="150" > <br>
                <label>{{product.product_name}}</label><br>
                <label>${{product.product_price}}</label><br>
            </article>
            </a>
        {% endfor %}
    </div>
</body>
</html>