{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'member/add_product_style.css' %}">
</head>
<body>
    <nav>
       
        <a href="{% url 'product:home' %}">Home Page</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'registration:signout' %}">LogOut</a>
        {% else %}
            <a href="{% url 'registration:login' %}">LogIn</a>
        {% endif %}
        <a href="/admin/">Admin</a>
        {% if request.user.is_authenticated %}
        {% if member %}
        <a href="{% url 'member:profile' request.user.username %}">{% if new_sales_order %}<img src="/media/logos/mark_logo.png"  alt="Dot" width="15"> {% endif %}Profile</a>
        {% else %}
        <a href="{% url 'member:register' %}"><img src="/media/logos/warning_logo.png" alt="warning">Complete Profile</a>
        {% endif %}
        {% endif %}
        <a href="{% url 'member:add_product_page' %}">Sell</a>
        <a href="{% url 'chat:sellor-chat' %}">{{unread_messages}}<img src="/media/logos/chat_logo.png" alt="chat" width="32"></a>
    </nav>
    <h1>Add a Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
            {{ form.product_name.label_tag }} {{ form.product_name }}
        </div>
        <div class="field">
            {{ form.product_price.label_tag }} {{ form.product_price }}
        <div class="field">
            {{ form.product_description.label_tag }} {{ form.product_description }}
        </div>
        <div class="field">
            {{ form.product_images.label_tag }} {{ form.product_images }}
            <div id="product_images_preview"></div>
        </div>
        <div class="field">
            {{ form.product_images2.label_tag }} {{ form.product_images2 }}
            <div id="product_images2_preview"></div>
        </div>
        <div class="field">
            {{ form.product_images3.label_tag }} {{ form.product_images3 }}
            <div id="product_images3_preview"></div>
        </div>
        <div class="field">
            {{ form.product_images4.label_tag }} {{ form.product_images4 }}
            <div id="product_images4_preview"></div>
        </div>
        <div class="field">
            {{ form.product_images5.label_tag }} {{ form.product_images5 }}
            <div id="product_images5_preview"></div>
        </div>
        <div class="field">
            {{ form.product_specification.label_tag }} {{ form.product_specification }}
        <div class="field">
            {{ form.product_category.label_tag }} {{ form.product_category }}
        </div>
        <div class="field">
            {{ form.product_quantity.label_tag }} {{ form.product_quantity }}
        </div>
        <div class="field">
            {{ form.company_name.label_tag }} {{ form.company_name }}
        </div>
        <div class="field">
            {{ form.product_website.label_tag }} {{ form.product_website }}
        </div>
        <button type="submit">Save</button>
    </form>
    <script src="{% static 'member/script.js' %}"></script>
</body>
</html>
