{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'member/edit_profile_style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'product:home' %}" class="nav-link">Home Page</a>
            <div class="nav-links">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'registration:signout' %}" class="nav-link">LogOut</a>
                {% else %}
                    <a href="{% url 'registration:login' %}" class="nav-link">LogIn</a>
                {% endif %}
                <a href="/admin/" class="nav-link">Admin</a>
                {% if member %}
                    <a href="{% url 'member:profile' request.user.username %}" class="nav-link">Profile</a>
                {% else %}
                    <a href="{% url 'member:register' %}" class="nav-link">Complete Profile</a>
                {% endif %}
                <a href="{% url 'member:add_product_page' %}" class="nav-link">Sell</a>
                <a href="{% url 'chat:sellor-chat' %}" class="nav-link">
                    <img src="/media/logos/chat_logo.png" alt="chat" width="32">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="form-container">
            <h2>Edit Profile</h2>
            <form enctype="multipart/form-data" method="post" onsubmit="return displayImage(event)">
                {% csrf_token %}
                <div class="profile-picture">
                    <img id="profile_image_preview" src="#" alt="Profile Image Preview" style="display:none;"/>
                </div>
                {{ form.as_p }}

                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Online Market Place. All rights reserved.</p>
        <p>Creator: Muhammad Arham Siddiqui</p>
        <p>Email: <a href="mailto:arsidd78@gmail.com">arsidd78@gmail.com</a></p>
        <p>Github: <a href="https://github.com/arsidd78">https://github.com/arsidd78</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/arsidd78">https://www.linkedin.com/in/arsidd78</a></p>
    </footer>

    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById('profile_image_preview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
        document.querySelector('input[type="file"]').addEventListener('change', previewImage);
    </script>
</body>
</html>
