<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice #{{invoice.id}}</title>
</head>
<body>
    <h2>Save this Invoice </h2>
    <article>
        <label >Invoice No #{{invoice.id}}</label>
        <label >Product Name: {{invoice.product.product_name}}</label>
        <label >Purchase by: {{invoice.buyer.username}}</label>
        <label > Sold by: {{invoice.sellor.username}}</label>
        <label >Quantity: {{invoice.quantity}}</label>
        <label >{{invoice.price}}</label>
        <label >{{invoice.deliver_charges}}</label>
        <label > Total Price: {{invoice.total_price}}</label>
    </article>
</body>
</html>