{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'member/my_product_style.css' %}">
    <title>My Products</title>
</head>
<body>
    <nav>
        <a href="{% url 'product:home' %}">Home Page</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'registration:signout' %}">LogOut</a>
        {% else %}
            <a href="{% url 'registration:login' %}">LogIn</a>
        {% endif %}
        <a href="/admin/">Admin</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'member:profile' request.user.username %}">Profile</a>
        {% endif %}
        <a href="{% url 'member:add_product_page' %}">Sell</a>
    </nav>
    <div class="main-content">
        <aside class="aside_links">
            <section>
                <h3>Categories</h3>
                <a href="{% url 'product:categories_page' %}">All Categories</a>
            </section>
            <section>
                <h3>Products</h3>
                <a href="{% url 'product:recent_products' %}">Recent Products</a>
                <a href="{% url 'product:view_all' %}">View All Products</a>
            </section>
        </aside>
        <section class="products-section">
            {% for product in products %}
            <article class="product-card">
                <img src="{{ product.product_images.url }}" alt="{{ product.product_name }}" class="product-image">
                <div class="product-info">
                    <label class="product-name">{{ product.product_name }}</label><br>
                    <label class="product-price">$ {{ product.product_price }}</label><br>
                    <label class="product-quantity">Stock: {{ product.product_quantity }}</label><br>
                </div>
                <div class="product-actions">
                    <button class="edit-product" onclick=location.href="{% url 'member:update' product.id %}">Edit</button>
                    <button class="delete-product" onclick=location.href="{% url 'member:delete_product' product.id %}">Remove</button>
                </div>
            </article>
            {% endfor %}
        </section>
    </div>
</body>
</html>
