{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'member/update_product_style.css' %}">
    <title>Update Product</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'product:home' %}" class="nav-link">Home Page</a>
            <div class="nav-links">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'registration:signout' %}" class="nav-link">LogOut</a>
                {% else %}
                    <a href="{% url 'registration:login' %}" class="nav-link">LogIn</a>
                {% endif %}
                <a href="/admin/" class="nav-link">Admin</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'member:profile' request.user.username %}" class="nav-link">Profile</a>
                    <a href="{% url 'member:add_product_page' %}" class="nav-link">Sell</a>
                {% endif %}
                <a href="{% url 'chat:sellor-chat' %}" class="nav-link">
                    <img src="/media/logos/chat_logo.png" alt="chat" width="32">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="form-container">
            <h2>Update Product</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="image-preview" id="imagePreview">
                    <img src="#" alt="Image Preview" class="image-preview__image" style="display: none;"/>
                    <span class="image-preview__default-text">Image Preview</span>
                </div>
                <button type="submit" class="btn">Edit</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Online Market Place. All rights reserved.</p>
        <p>Creator: Muhammad Arham Siddiqui</p>
        <p>Email: <a href="mailto:arsidd78@gmail.com">arsidd78@gmail.com</a></p>
        <p>Github: <a href="https://github.com/arsidd78">https://github.com/arsidd78</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/arsidd78">https://www.linkedin.com/in/arsidd78</a></p>
    </footer>

    <script>
        function previewImage(event) {
            const files = event.target.files;
            const previewContainer = document.getElementById('imagePreview');
            previewContainer.innerHTML = '';

            for (const file of files) {
                const reader = new FileReader();
                reader.onload = function() {
                    const imgElement = document.createElement('img');
                    imgElement.src = reader.result;
                    imgElement.classList.add('image-preview__image');
                    previewContainer.appendChild(imgElement);
                };
                reader.readAsDataURL(file);
            }
        }

        document.querySelectorAll('input[type="file"]').forEach(input => {
            input.addEventListener('change', previewImage);
        });
    </script>
</body>
</html>
